<footer class='footer'>
    <ul>
        <li><a href='https://www.facebook.com/annaplusnina'><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
        <li><a href='https://www.instagram.com/annaninanl/?hl=nl'><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
        <li><a href='https://nl.pinterest.com/annaennina/'><i class="fa fa-pinterest" aria-hidden='true'></i></a></li>
    </ul>
</footer>