<nav class='nav-bar'>
    <img src='/images/logo.png' alt='annanina-logo' id='logo'>
    <ul>
        <li><a class='link' href='/'>Home</a></li>
        <li><a class='link' href='/about'>About</a></li>
        <li><a class='link' href='/photoGallery'>Photo Gallery</a></li>
    </ul>
</nav>