<div class='about-container'>
    <img src='/images/about-1.png' class='background-img'>
    <div class='about-text'>
        <p class='text'>Inspired by our travels to exotic places like Thailand, Bali and India we’ve stepped out of our comfort zones and embraced the rich colours, intricate details and strange designs the Asian continent is known for. Thanks to our love of history, films, art and nature we’re able to create cool, out of the box designs that have never been seen before.</p>  

        <h6 class='quote'>“We try to give our jewellery and home designs that je-ne-sais-quoi quality that is so hard to find.”</h6>
        <p class='ref'>-Founders Anna de Lanoy Meijer & Nina Poot.</p> 
        <p class='text'>Each of our collections has its own special character, whether it’s based on our fascination for Cabinets of Curiosities or the mysterious underwater world. It’s amazing that our one of a kind designer items blend into our daily lives so well.</p> 
        <h6 class='quote'>“We want everyone to feel inspired when they pay our brand a visit, whether this is online or in one of our Amsterdam based stores.”</h6>
        <p class='ref'>-The ANNA + NINA team.</p> 
        <p class='text'>The rich materials we use include silver, gold, freshwater pearls, onyx, soft cotton, velours and brass: this makes for exquisite products we are very proud to call our own. We hope the same will be true for you.</p>  
        <p class='text'>Let ANNA + NINA take you by the hand into a world full of wonder…  We are #annaninanl</p>
    </div>
    <img src='/images/about-2.png' class='background-img'>
</div>